doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Phillipi Unger Lino
        meta(name='description', content="")
        meta(name='author', content="")
        meta(name='viewport', content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")

        //link(rel="icon", type="image/png", href="images/favicon.png")  

    body
        header.bird-box
            //- .back-bird
            .logo
            //- .fore-bird

        section.content.row

                #code-side-left.code-side.col.m2.hide-on-small-only
                    img.code-images(v-for="item in items" v-bind:src="item.path" v-bind:blur="item.blur" v-bind:size="item.size")
                

                //- .side-menu
                //-     ul
                //-         li: a(id="a-about" href="#about") 
                //-             button(type="button" id="button-about" class="btn btn-default btn-circle tooltipped" data-position="left" data-delay="50" data-tooltip="Sobre")
                //-         li: a(id="a-games-title" href="#games-title")
                //-             button(type="button" id="button-games-title" class="btn btn-default btn-circle tooltipped" data-position="left" data-delay="50" data-tooltip="Jogos Desenvolvidos")
                //-         li: a(id="a-rich" href="#rich")
                //-             button(type="button" id="button-rich" class="btn btn-default btn-circle tooltipped" data-position="left" data-delay="50" data-tooltip="Rich History")

                div.centro.center-align.col.s12.m8

                    //- .row

                    //-     .col.s12
                    //-         h2(id="about" class="section scrollspy") Sobre

                    //-         //- hr

                    //-         p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    //-         p Formado em 2015 na FATEC Carapicuíba no curso de Jogos Digitais, .

                    //-         hr

                    .row
                        .col.s12
                            h2(id="games-title" class="section scrollspy") Jogos Desenvolvidos

                    #games-section
                        .row.img-row.center-align.col.s12
                            .col.s12.m12.l3.offset-l1(v-for="game in games")
                                figure
                                    h4.hide-on-large-only {{game.name}}
                                    a(v-bind:href="'games/'+game.folder+'/index.html'")
                                        img(v-bind:src="'games/'+game.folder+'/ss.png'" href="'games/'+game.folder+'/index.html'")
                                    figcaption {{game.name}}

                    hr

                    h1(id="fine" class="section scrollspy") Android Apps

                    div#apps-section.row

                        .post.col.s12.m12.l3.offset-l1(v-for="app in apps")
                            .row
                                .col.s12
                                    h5 {{app.name}}
                            .row
                                .col.s12
                                    img(v-bind:src="'apps/'+app.screenshot")
                            .row
                                .col.s12
                                    p {{app.description}}
                            .row
                                .col.s12
                                    p: a.button(v-bind:href="app.link") App Page

                    hr

                    //- .row
                    //-     .large-window
                    //-         .window-tint
                    //-             .promo-text Fall Suits
                    //-                 strong <span>from</span> $99
                    //-                 a(href="").window-cta Shop Now
                        

                    h1(id="rich" class="section scrollspy") Artes

                    //- hr

                    //- p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    //- hr

                    .blog-posts.row

                        .post.columns.four.post-1
                            //- h5 Post Title
                            hr

                            blockquote.instagram-media(data-instgrm-version='7', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
                                  div(style='padding:8px;')
                                    div(style=' background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;')
                                      div(style=' background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;')
                                    p(style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;')
                                      a(href='https://www.instagram.com/p/BaT-SLHnDff/', style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;', target='_blank') Uma publicação compartilhada por MangaArt (@artedomanga)
                                      |  em 
                                      time(style=' font-family:Arial,sans-serif; font-size:14px; line-height:17px;', datetime='2017-10-16T14:22:47+00:00') Out 16, 2017 às 7:22 PDT
                                script(async='', defer='', src='http://platform.instagram.com/en_US/embeds.js')

                            //- img(src="images/posts/one.jpg")
                            //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            //- p: a.button(href="") Read More
                            hr

                        .post.columns.four.post-2
                            //- h5 Post Title
                            //- img(src="images/posts/two.jpg")
                            //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            //- p: a.button(href="") Read More
                            hr

                            blockquote.instagram-media(data-instgrm-version='7', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
                                  div(style='padding:8px;')
                                    div(style=' background:#F8F8F8; line-height:0; margin-top:40px; padding:26.111111111111114% 0; text-align:center; width:100%;')
                                      div(style=' background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;')
                                    p(style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;')
                                      a(href='https://www.instagram.com/p/BZe-sJWHVnH/', style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;', target='_blank') Uma publicação compartilhada por MangaArt (@artedomanga)
                                      |  em 
                                      time(style=' font-family:Arial,sans-serif; font-size:14px; line-height:17px;', datetime='2017-09-26T00:26:06+00:00') Set 25, 2017 às 5:26 PDT
                                script(async='', defer='', src='http://platform.instagram.com/en_US/embeds.js')

                            hr

                        .post.columns.four.post-3
                            //- h5 Post Title
                            //- img(src="images/posts/three.jpg")
                            //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            //- p: a.button(href="") Read More
                            hr

                            blockquote.instagram-media(data-instgrm-version='7', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
                              div(style='padding:8px;')
                                div(style=' background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;')
                                  div(style=' background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;')
                                p(style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;')
                                  a(href='https://www.instagram.com/p/BZgMRLLH-V_/', style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;', target='_blank') Uma publicação compartilhada por MangaArt (@artedomanga)
                                  |  em 
                                  time(style=' font-family:Arial,sans-serif; font-size:14px; line-height:17px;', datetime='2017-09-26T11:44:00+00:00') Set 26, 2017 às 4:44 PDT
                            script(async='', defer='', src='http://platform.instagram.com/en_US/embeds.js')


                    hr

                    vue-instagram

                    script(type="text/x-template" id="demo-template").
                        <vue-instagram token="5434292508.fab4b86.03f4767871dd4fb89317605e0abca251" username="artedomanga" :count="5">
                            <template slot="feeds" scope="props">
                                <li class="fancy-list"> {{ props.feed.link }} </li>
                            </template>
                            <template slot="error" scope="props">
                                <div class="fancy-alert"> {{ props.error.error_message }} </div>
                            </template>
                        </vue-instagram>

                    .avatar

                #code-side-right.code-side.col.m2.hide-on-small-only
                    img.code-images(v-for="item in items" v-bind:src="item.path" v-bind:blur="item.blur" v-bind:size="item.size")

        footer.f
            .row.footer-stuff
                .columns.three
                    strong CONTACT
                    ul
                        li: a(href="https://twitter.com/mangarchl") Twitter
                        li: a(href="https://www.facebook.com/phillipi.manga") Facebook
                        li: a(href="https://www.instagram.com/artedomanga") Instagram

                //- .columns.three
                //-     strong OTHER SHOPS
                //-     ul
                //-         li: a(href="") Red Robin
                //-         li: a(href="") Emerald Eagle
                //-         li: a(href="") Crimson Crane
                //-         li: a(href="") Auburn Abbot

                .columns.six
                    p <strong>Email</strong>

                    form.row
                        .columns.twelve
                                p phillipi.lino@gmail.com
                        //-     input.u-full-width(type="email" placeholder="Your email")
                        //- .columns.four
                        //-     input.button-primary(type="submit")

        script(src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js")
        script(src="https://www.gstatic.com/firebasejs/3.8.0/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/3.8.0/firebase-auth.js")
        script(src="https://www.gstatic.com/firebasejs/3.8.0/firebase-database.js")
        script(src='https://unpkg.com/vue')

        script(src='https://unpkg.com/vue-instagram')

        script.
            Vue.use(VueInstagram.default)
            //- import VueInstagram from 'vue-instagram'

        script.
          // Initialize Firebase
            var config = {
                apiKey: "AIzaSyBtFoSzmCHueDPyKtJGIm6dC27RleelSK4",
                authDomain: "portifolio-b787b.firebaseapp.com",
                databaseURL: "https://portifolio-b787b.firebaseio.com",
                projectId: "portifolio-b787b",
                storageBucket: "portifolio-b787b.appspot.com",
                messagingSenderId: "517791431241"
            };
            //- firebase.initializeApp(config);
            var defaultApp = firebase.initializeApp(config);
            var database = firebase.database();

            var starCountRef = firebase.database().ref('imagens/');

            var l;
            starCountRef.on('value', function(snapshot) {
                l = snapshot.val();
                var lsize = l.lenght;
                var links = l.slice(1, lsize);
                //- console.log(links);
                //- const app = new Vue({
                //-         el: '#test',
                //-         data: {
                //-             items: links
                //-           }
                //-     });
            });

            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            var code_images_array = ["images/codes/catch.png",  "images/codes/count.png",  "images/codes/foreach.png",  "images/codes/gameObject.png",  "images/codes/getInput.png",  "images/codes/guiskin.png",  "images/codes/inputStream.png",  "images/codes/int.png", "images/codes/newGameObject.png",  "images/codes/run.png",  "images/codes/start.png",  "images/codes/string.png",  "images/codes/try.png",  "images/codes/update.png"]

            var dictImg = {}

            for(var i = 0; i < code_images_array.length; i++){
                dictImg[i] = code_images_array[i];
            }

            var vueImages = []

            for(var i = 0; i < 100; i++){
                vueImages.push({ path : dictImg[getRandomInt(0,code_images_array.length-1)], blur : getRandomInt(0,4),
                size : getRandomInt(15,35)});
            }

            //- console.log(vueImages);

            const app = new Vue({
                el: '#code-side-right',
                data: {
                    items: vueImages
                  }
            });

            const app2 = new Vue({
                el: '#code-side-left',
                data: {
                    items: vueImages
                  }
            });

            const app3 = new Vue({
                el: '#games-section',
                data: {
                    games: [{name:"Chapolin - Uma Aventura Virtual", folder:"chapolin"},
                            {name:"Space Monkeys", folder:"SpaceMonkeys"},
                            {name:"Button Cup", folder:"futebolDeBotao"}]
                  }
            });

            const app4 = new Vue({
                el: '#apps-section',
                data: {
                    apps: [{name:"Procura-se Banda!", screenshot:"procurasebanda.png", description:"O 'Procura-se Banda' foi criado para que músicos possam formar suas bandas e/ou encontrar novos integrante para seus projetos.", link:"https://play.google.com/store/apps/details?id=br.com.procurasebanda&hl=en"},
                        ]
                  }
            });

            //- const app5 = new Vue({
            //-     el: '#apps-section',
            //-     template: '#demo-template',
            //-     data: {
            //-         selected: 2,
            //-         options: [
            //-           { id: 1, text: 'Hello' },
            //-           { id: 2, text: 'World' }
            //-         ]
            //-       }
            //- });

        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
        script.
            $(document).ready(function(){
                $('.scrollspy').scrollSpy();
            });
        script(src="js/functions.js")

